@model IEnumerable<InventoryTask.Models.ProductSalesReport>

@{
    ViewBag.Title = "ProductSalesReportMonthwise";
}

<h2>Product Sales Report Monthwise</h2>

<table id="3" class="table">
    <tr>
        <th>Month</th>
        <th>Product Name</th>
        <th>Qty</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Month.Date.Value.ToString("MMMM")- @item.Month.Date.Value.Year</td>
            <td>@item.ProductName.Name</td>
            <td>@item.Qty.Qty</td>

        </tr>
    }
</table>